.gallery {
  display: grid;
  gap: var(--main-gap);
  grid-template-columns: 1fr;
  width: 100%;
  padding: var(--main-padding);
}

.mainImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.mainImage img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.thumbnailContainer {
  display: flex;
  gap: var(--main-gap);
  flex-wrap: wrap;
}

.thumbnail {
  cursor: pointer;
  width: calc(25% - 0.5rem);
  opacity: 0.7;
  position: relative;
  aspect-ratio: 1 / 1;
  border: 2px solid transparent;
}

.thumbnail img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.thumbnail:hover {
  opacity: 1;
}

.activeThumbnail {
  composes: thumbnail;
  opacity: 1;
  border-color: var(--color-text, currentColor);
}
