.header {
  z-index: var(--header-z-index);
  width: 100%;
  background: black;
  color: white;
}

.annoucementBar {
  display: grid;
  place-items: center;
  text-align: center;
  padding-inline: var(--main-padding);
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--main-padding);
}

.localCartButton {
  min-width: 50px;
  text-align: right;
}

.footer {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: var(--main-padding);
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footer ul {
  display: flex;
  gap: var(--main-gap);

  @media (max-width: 480px) {
    flex-direction: column;
    gap: calc(var(--main-gap) / 2);
  }
}
