.header {
  z-index: var(--header-z-index);
  width: 100%;
  background: black;
  color: white;
}

.annoucementBar {
  display: grid;
  place-items: center;
  text-align: center;
  padding-inline: var(--main-padding);
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--main-padding);
}

.localCartButton {
  min-width: 50px;
  text-align: right;
}
