# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID="your-lamgold-sanity-project-id"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2024-10-28"
NEXT_PUBLIC_SANITY_STUDIO_URL="http://localhost:3333"
SANITY_API_READ_TOKEN="your-lamgold-sanity-read-token"

# Shopify (LamGold's own store)
SHOPIFY_STORE_DOMAIN="lamgold.myshopify.com"
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN="lamgold.myshopify.com"
SHOPIFY_STOREFRONT_ACCESS_TOKEN="your-lamgold-storefront-api-token"
