.list {
  padding-block-start: var(--main-padding);

  @media (max-width: 768px) {
    padding-block-start: calc(var(--main-padding) * 1.5);
  }
}

.collection {
  position: relative;
  width: 100%;
  height: 80vh;

  h2 {
    position: absolute;
    z-index: var(--title-z-index);
    mix-blend-mode: difference;
    color: #fff;
    top: 50%;
  }

  @media (max-width: 768px) {
    height: 70vh;
  }
}
